* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  font-size: 24px;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
section,
main,
aside {
  padding-top: 24px;
}

nav {
  background-color: #222831;
  color: #eeeeee;
  grid-row: 1 / -1;
}
.nav-icon {
  width: 50px;
  cursor: pointer;
}
menu {
  background-color: #393e46;
  color: #eeeeee;
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}
input {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 1px;
  font-size: 17px;
  border-radius: 50px;
  border: 1px solid #222831;
}

Button {
  display: inline-block;
  font-size: 16px;
  background-color: #00adb5;
  border: none;
  cursor: pointer;
  color: #eeeeee;
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: bold;
}
button:hover {
  background-color: #71c9ce;
}

button:last-child {
  background-color: red;
  margin-left: auto;
  border-radius: 50px;
  font-weight: bold;
}
button:last-child:hover {
  background-color: #eeeeee;
  color: red;
}
.trash-icon {
  width: 20px;
}

section {
  background-color: #e9ecef;
  padding: 40px;

  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.email {
  background-color: #adb5db;
  height: 96px;
  flex-shrink: 0;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
}

aside {
  background-color: #e9ecef;
}
